<h1>Eat-Da-Burger!</h1>

<p>Choose a burger from the list and devour it. Don't see a burger you like? Add one to the list using the form below.</p>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
          <form action="/burger/eat/{{this.id}}?_method=PUT" method="POST">
            <p>{{this.burger_name}}
            <button type="submit" class='burgerAvailable'>Devour It!</button></p>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>

      <div class="col-md-4">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class='burgerEaten'>
          <div>
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

    <form action="/api/burgers" method="POST">
    <div class="row">
    <div class="col-md-12">
      <input type="text" id="name" name="burger_name" placeholder="Super Delicious Burger">
      <button type="submit" class="addBurgerButton">Add This Burger</button>
    </form>
  </div>
</div>